* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

:root {
    --body-bg: #ffff;
    --body-color: black;
    --theme-color: lightseagreen;
}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--body-bg);
    color: var(--body-color);
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 1rem 2rem;
    padding: 1rem;
    background-color: var(--theme-color);
    align-items: center;
    color: var(--body-color);
    border-radius: 20px;
    height: 2.7rem;
}

nav .button {
    background-color: var(--body-bg);
    padding: 0.8rem;
    border-radius: 17px;
    text-decoration: none;
    color: var(--body-color);
    transition: 0.6s;
    position: relative;
}

.button {
    transition: 0.7s;
}

.button:hover {
    transition: 0.7s;
    /* border: 1px solid white;
    background-color: lightseagreen;
    color: white;
    text-decoration: underline; */
    transform: scale(1.1, 1.1);
}

.top {
    text-align: center;
    margin-top: 5rem;
    font-size: larger;
    width: 100%;
    margin: 0 auto;
    margin-top: 5%;
}

.top h1 {
    font-size: 350%;
}

.top .description {
    width: 50%;
    margin: 0 auto;
}



section .button {
    background-color: var(--theme-color);
    padding: 0.8rem;
    border-radius: 17px;
    text-decoration: none;
    color: var(--body-bg);
    display: block;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
}

.mid {
    margin: 5% 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mid .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--body-color);
    border: 2px solid var(--body-color);
    box-shadow: 0.3rem 0.3rem var(--theme-color);
    border-radius: 30px;
    margin: 3rem;
    padding: 4rem;
    width: 18%;
    transition: 0.7s;
}

.mid .box:hover {
    transition: 0.7s;
    transform: scale(1.05, 1.05);
}

.mid .box .dImages {
    width: 50%;
    margin-bottom: 2rem;
}



footer {
    display: flex;
    justify-content: space-around;
    margin-top: auto;
    align-items: center;
    padding: 2rem 0;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--theme-color);
}

.devs {
    text-align: center;
    font-size: 200%;
    margin-bottom: 10%;
}

.devs h2 {
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: 70%;
    border-radius: 30px;
}

.images {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 4rem;

}

.formatText .dImages {
    width: 15%;
    margin: 2rem;
}

.profBox {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
    border: 2px solid var(--body-color);
    border-radius: 2rem;
    margin: 2rem;
    padding: 1rem;
    box-shadow: 0.3rem 0.3rem var(--theme-color);
    transition: 0.7s;
}

.profBox:hover {
    transition: 0.7s;
    transform: scale(1.05, 1.05);
}

.avatar {
    border-radius: 50%;
    width: 45%;
}

hr {
    border: 2px solid var(--body-color);
    margin: 3rem;
    border-radius: 5rem;
}

.endText {
    text-align: center;
    width: 70%;
    margin: 1rem auto;
}

h1 a {
    text-decoration: none;
    color: var(--body-bg);
}

.mode {
    border: none;
    margin-right: 1rem;
    cursor: pointer;
    background-color: var(--theme-color);
    padding: 0.8rem;
    text-decoration: none;
    color: var(--body-bg);
    transition: 0.6s;
    position: relative;
}

footer ul {
    font-weight: bold;
}

footer ul li a {
    font-weight: 400;
    text-decoration: none;
    color: var(--body-color);
}