* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #ffff;
}


nav {
    display: flex;
    justify-content: space-between;
    margin: 1rem 2rem;
    padding: 1rem;
    background-color: lightseagreen;
    align-items: center;
    color: #ffff;
    border-radius: 20px;
    height: 2.7rem;
}

nav .button {
    background-color: #ffff;
    padding: 0.8rem;
    border-radius: 17px;
    text-decoration: none;
    color: #000000;
}



/* --------------------------- */

.content {
    width: 85%;
    margin: 4rem auto;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 70rem 60rem 12rem;
    grid-template-areas: "content aside";
    height: 100%;
}

section {
    /* background-color: lightseagreen; */
    grid-area: content;
    width: 85%;
    display: block;
    margin-bottom: 4rem;
}

.content h1 {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 2rem;
}

section p {
    padding-bottom: 0.7rem;
    text-indent: 3rem;
    font-size: larger;
}

section h2 {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

aside {
    grid-area: aside;
    border-left: 3px solid black;
}

div.box {
    background-color: white;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 20px;
    margin-bottom: 0.9rem;
    margin-left: 1rem;
    padding: 1rem;
    box-shadow: 0.3rem 0.3rem lightseagreen;
    transition: 0.7s;
}

div.box:hover {
    transition: 0.7s;
    transform: scale(1.05, 1.05);
}

article {
    display: block;
}

.centerImg {
    display: block;
    margin: 2rem auto;
    width: 20rem;
}

#graph {
    width: 50rem;
}

footer {
    display: flex;
    justify-content: space-around;
    margin-top: auto;
    align-items: center;
    padding: 2rem 0;
    flex-wrap: wrap;
    width: 100%;
    background-color: lightseagreen;
}

/* PARTE DA TRIGONOMETRIA */
ul li {
    margin-left: 10%;
}

table {
    margin: 2% auto;
    text-align: center;
    width: 80%;
    table-layout: auto;
    border: 2px solid #000000;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

h1 a {
    text-decoration: none;
    color: #ffff;
}